{% extends 'blog/base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
{% endblock css %}

{% block title %}new{% endblock title %}

{% block section %}
    <section class="featured-posts">
        <div class="section-title">
            <h2><span>Create Article</span></h2>
        </div>
        <form action="" method="post" onsubmit="onSubmit(event)" style="display: flex; flex-direction: column;">
            {% csrf_token %}
            <input type="text" name="title" id="title" placeholder="제목 입력"/>
            <textarea name="content" id="content" placeholder="내용 입력"></textarea>
            <label for="imageUpload">Choose an image:</label><br />
            <input
                type="file"
                id="imageUpload"
                name="get_file"
                accept="image/*"
                onchange="onChange(event)"
            />
            <ul class="images_li" style="display: flex;"></ul>
            <button type="submit">작성</button>
        </form>
    </section>
{% endblock section %}

{% block script %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    const imageLi = document.querySelector('.images_li');
    let files = [];

    const onChange = (e) => {
        const image_file = e.target.files[0]
        addFile(e, image_file)
        e.target.value = '';
    }
    const addFile = (e, file) => {
        if (files.length < 3){
            files.push(file);
            renderImg();
        } else {
            alert('이미지는 세 개까지 첨부 가능합니다!')
        }
        console.log(files);
    }

    const renderImg = () => {
        imageLi.innerHTML = '';
        for (let i = 0; i < files.length; i++) {
            const reader = new FileReader();

            reader.onload = function () {
                const li = document.createElement('li');
                const img = document.createElement('img');
                const delete_btn = document.createElement('input');

                img.src = reader.result;
                img.width = '264';
                img.height = '264';
                img.style.display = "block";
                delete_btn.type = "button"
                delete_btn.value = "삭제";
                delete_btn.id = `btn_${i+1}`;
                delete_btn.onclick = onDelete;

                li.style.marginLeft = '10px';
                li.appendChild(img);
                li.appendChild(delete_btn);
                li.id = `image_${i+1}`;

                imageLi.appendChild(li);
            };

            reader.readAsDataURL(files[i]);
        }
        
    }

    const onDelete = (e) => {
        e.preventDefault();
        const btn_id = e.target.id
        const id = btn_id.split('_')[1]
        const newFiles = files.filter(file => (files.indexOf(file) + 1) !== Number(id))
        files = newFiles
        renderImg();
    }

    const onSubmit = async (e) => {
        e.preventDefault();
        const form = document.querySelector('form');
        const formData = new FormData(form);

        if (files) {
            for (let i = 0; i < files.length; i++) {
               formData.append('images', files[i], `img_${i+1}`);
            }
        }
        alert('입력되었습니다!');
        const res = await axios.post("/blog/create_article/", formData);

        if (res.data.article_id){
            const article_id = res.data.article_id;
            window.location = `/blog/detail/${article_id}`;
        }
    }
</script>
{% endblock %}