body{
  width: 100vw;
  height: 100vh;
}
.outerBox {
  width: 100vw;
  height: 100vh;
  background-color: tomato;
  border-radius: 20px;
}
.innerBox {
  width: 100px;
  height: 100px;
  background-color: grey;
  border-radius: 20px;
}