{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'registration.css' %}" />
{% endblock %}

{% block title %}signup{% endblock title %}

{% block h2 %}회원가입{% endblock h2 %}

{% block section %}
<div class="registration_box">
  <div class = "login_wrap">
    <form class="login_form" method="POST">
      {% csrf_token %}
          {% if error %}
            <div style="color: red">{{error}}</div>
          {% endif %}
          <input
            required
            type="text"
            name="username"
            placeholder="아이디"
            class="registration_input"
          />
          <input
            required
            type="password"
            name="password"
            placeholder="비밀번호"
            class="registration_input"
          />
          <button id="post_button">회원가입</button>
      </form>
    </div>
</div>
{% endblock section %}