<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'list.css' %}" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
</head>
<body>
    <div id="wrap">
    <h2>글 전체 목록</h2>
    <div class="content">
        <nav>
            <span>눌러서 이동</span>
            <hr>
            <ul>
                {% for category in categories %}
                <li><a href="{% url 'category' category %}">{{category}} 게시판</a></li>
                {% endfor %}
            </ul>
            <hr>
            <a href="{% url 'new' %}">글 쓰러 가기</a>
        </nav>
        <section>
            <ul>
                {% for article in articles %}
                <li><a href="{% url 'detail' article.id %}">{{article.title}}</a></li>
                {% endfor %}
            </ul>
        </section>
    </div>
    </div>
</body>
</html>