.image-block{
    width: 330px;
    display: flex;
    justify-content: flex-end;
}
.preview_image{
    width: 100px;
    height: 100px;
}
.preview_div{
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.card_link{
    display: flex;
}
.sort_div{
    margin-bottom: 10px;
}