*{
    font-family: 'Space Mono', monospace;
}
body, html{
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}
#text{
    position: absolute;
    left: calc(50% - 250px);
    top: calc(50% - 200px);
    z-index: 1;
    color: white;
    font-size: 100px;
}
#upper_box{
    position: absolute;
    right: 10px;
    z-index: 1;
}
#container{
    width: 100%;
    height: 100%;
}